/*********************** Guidelines styling ***********************/

.guidelines{
    margin-top: .75rem;
}

.guideline{
    margin-left: 2rem;
    margin-bottom: .5rem;
}

/*********************** End guidelines styling ***********************/



/*********************** Form styling ***********************/

.form{
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(80, 80, 80, 0.4);
    max-width: 550px;
    margin: 0 auto;
    padding: 2rem 1rem; 
}

.form__fieldset{
    padding: 1rem;
    border: 1px solid #2196F3;
    margin-bottom: 1rem;

}

.form__legend{
    padding: 0 .5rem;
    font-weight: 600;
    font-size: 1.25rem;
    color: #2196F3;
}

.form__actions{
    margin-top: 1.5rem;
    text-align: center;
    z-index: 0;
}

.input-group{
    margin-bottom: 1rem;
}

.form__select{
    margin-bottom: 1rem;
}

#select{
    background-color: transparent;
    border: 1px solid #2196F3;
    margin-top:.3rem;
    padding: .75rem;
    width: 100%;
}

.input-group__input{
    margin-top:.3rem;
    padding: .5rem;
    width: 100%;
}

.form__btn{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    padding: .25rem 2rem;
    position: relative;
    transition: color .5s;
}

.form__btn:hover::before{
    transform: translate(-50%,-50%);
}

.form__btn:hover{
    color: #fff;
}

.form__btn::before{
    background-color: #2196F3;
    content: "";
    height: 100%;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,100%);
    transition: transform .5s;
    width: 100%;
    z-index: -1;
}

.form__summary{
    cursor: pointer;
}

/*********************** End form styling ***********************/



/*********************** Alert-Message styling ***********************/

.alert-message{
    margin-top: 4rem;
}

.response-message{
    text-align: center;
}

.response-message--success{
    color: #04AA6D;
}

.response-message--info{
    color: #2196F3;
}

/*********************** End Alert-Message styling ***********************/
