
/*********************** Home  styling ***********************/

.home__picture{
    display: inline-block;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.bored{
    color: #ff9800;
}

.home__section{
    margin-top: 4rem;
}

.home__content{
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.home-content__span{
    text-decoration: underline;
}

.home__actions{
    margin-top: 3rem;
    text-align: center;
}

.home__action{
    border-radius: 10px;
    border: 1px solid #ff9800;
    color: #222;
    display: inline-block;
    font-size: .9rem;
    font-weight: 700;
    padding: .25rem .75rem;
    text-decoration: none;
    transition: background-color .5s, color .4s, transform .4s;
}

.home__action:hover{
    background-color: #ff9800;
    box-shadow: 0 0 5px 0 rgba(80, 80, 80, 0.6);
    color: #fff;
    transform: scale(1.2);
}

/*********************** End home  styling ***********************/
