/*********************** Tips styling ***********************/

.tip{
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(80, 80, 80, 0.4);
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 175px;
    padding: .75rem;
    text-align: center;
    transform: scale(0);
}

.tip:nth-of-type(1){
    animation: scaleUp 1s ease-in-out .5s forwards;
}

.tip:nth-of-type(2){
    animation: scaleUp 1s ease-in-out 1.5s forwards;
}

.tip:nth-of-type(3){
    animation: scaleUp 1s ease-in-out 2.3s forwards;
}

@keyframes scaleUp {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

.tip__header{
    margin-bottom: .5rem;
}

.tip__copy{
    font-size: .9rem;
}

/*********************** End tips styling ***********************/


/*********************** Media queries ***********************/

@media screen and ( min-width: 520px) {

    .tip{
        margin: 2rem 2rem;
    }

}

/*********************** End media queries ***********************/

